CMS/MEL/747 MEL Rev51.0 2012_1_31/Draft Publish/entities/MEL747.dtd

<?xml version="1.0" encoding="utf-8"?>
<!-- ============================================================== -->
<!--                        NOTATIONS                               -->
<!-- ============================================================== -->

<!NOTATION GIF SYSTEM "GIF"                                       >
<!NOTATION TIF SYSTEM "TIF"                                       >
<!NOTATION JPG SYSTEM "JPG"                                       >

<!NOTATION PNG SYSTEM "PNG"                                       >
<!NOTATION cgm PUBLIC
"-//USA-DOD//NOTATION Computer Graphics Metafile//EN"             >
  
<!NOTATION ccitt4 PUBLIC
"-//USA-DOD//NOTATION CCITT Group 4 Facsimile//EN"                >

<!-- ============================================================== -->
<!--                          ENTITIES                              -->
<!-- ============================================================== -->

<!ENTITY % ATIeqn1 PUBLIC "-//ArborText//ENTITIES Equation1//EN//XML" "entities/ati-eqn1.ent">
<!ENTITY % ISOamsa PUBLIC "ISO 8879:1986//ENTITIES Added Math Symbols: Arrow Relations//EN//XML" "entities/iso-amsa.ent"  >
<!ENTITY % ISOamsb PUBLIC "ISO 8879:1986//ENTITIES Added Math Symbols: Binary Operators//EN//XML" "entities/iso-amsb.ent"  >
<!ENTITY % ISOamsc PUBLIC "ISO 8879:1986//ENTITIES Added Math Symbols: Delimiters//EN//XML" "entities/iso-amsc.ent"  >
<!ENTITY % ISOamsn PUBLIC "ISO 8879:1986//ENTITIES Added Math Symbols: Negated Relations//EN//XML" "entities/iso-amsn.ent"  >
<!ENTITY % ISOamso PUBLIC "ISO 8879:1986//ENTITIES Added Math Symbols: Ordinary//EN//XML" "entities/iso-amso.ent"  >
<!ENTITY % ISOamsr PUBLIC "ISO 8879:1986//ENTITIES Added Math Symbols: Relations//EN//XML" "entities/iso-amsr.ent"  >
<!ENTITY % ISObox  PUBLIC "ISO 8879:1986//ENTITIES Box and Line Drawing//EN//XML" "entities/iso-box.ent"  >
<!ENTITY % ISOcyr1 PUBLIC "ISO 8879:1986//ENTITIES Russian Cyrillic//EN//XML" "entities/iso-cyr1.ent"  >
<!ENTITY % ISOcyr2 PUBLIC "ISO 8879:1986//ENTITIES Non-Russian Cyrillic//EN//XML" "entities/iso-cyr2.ent"  >
<!ENTITY % ISOdia  PUBLIC "ISO 8879:1986//ENTITIES Diacritical Marks//EN//XML" "entities/iso-dia.ent"  >
<!ENTITY % ISOgrk1 PUBLIC "ISO 8879:1986//ENTITIES Greek Letters//EN//XML" "entities/iso-grk1.ent"  >
<!ENTITY % ISOgrk2 PUBLIC "ISO 8879:1986//ENTITIES Monotoniko Greek//EN//XML" "entities/iso-grk2.ent"  >
<!ENTITY % ISOgrk3 PUBLIC "ISO 8879:1986//ENTITIES Greek Symbols//EN//XML" "entities/iso-grk3.ent"  >
<!ENTITY % ISOgrk4 PUBLIC "ISO 8879:1986//ENTITIES Alternative Greek Symbols//EN//XML" "entities/iso-grk4.ent"  >
<!ENTITY % ISOlat1 PUBLIC "ISO 8879:1986//ENTITIES Added Latin 1//EN//XML" "entities/iso-lat1.ent"  >
<!ENTITY % ISOlat2 PUBLIC "ISO 8879:1986//ENTITIES Added Latin 2//EN//XML" "entities/iso-lat2.ent"  >
<!ENTITY % ISOnum  PUBLIC "ISO 8879:1986//ENTITIES Numeric and Special Graphic//EN//XML" "entities/iso-num.ent"  >
<!ENTITY % ISOpub  PUBLIC "ISO 8879:1986//ENTITIES Publishing//EN//XML" "entities/iso-pub.ent"  >
<!ENTITY % ISOtech PUBLIC "ISO 8879:1986//ENTITIES General Technical//EN//XML" "entities/iso-tech.ent"  >
<!ENTITY % HTMLlat1x PUBLIC "-//W3C//ENTITIES Latin1//EN//HTML" "entities/HTMLlat1x.ent" >
<!ENTITY % HTMLsymbolx PUBLIC "-//W3C//ENTITIES Symbols//EN//HTML" "entities/HTMLsymbolx.ent">
<!ENTITY % HTMLspecialx PUBLIC "-//W3C//ENTITIES Special//EN//HTML" "entities/HTMLspecialx.ent">

%ATIeqn1; %ISOamsa; %ISOamsb; %ISOamsc; %ISOamsn; %ISOamso; %ISOamsr; %ISObox; %ISOcyr1; %ISOcyr2;
%ISOdia; %ISOgrk1; %ISOgrk2; %ISOgrk3; %ISOgrk4; %ISOlat1; %ISOlat2; %ISOnum; %ISOpub; %ISOtech;
%HTMLlat1x; %HTMLsymbolx; %HTMLspecialx;

<!ENTITY   % w.c     "(warning*,caution*)"                        >

<!ENTITY   % text
       "para|table|unlist|numlist|glosdata|
         warning|caution|note|exception|example|ops"              >

<!ENTITY % revatt     "chg          (N|R|U|D)       'N'
                       key           ID             #REQUIRED
                       revnbr        CDATA          #REQUIRED
                       revdate       NMTOKEN        #REQUIRED" >

<!ENTITY % yesorno    "NMTOKEN" >

<!-- ============================================================= -->
<!--                          ELEMENTS                             -->
<!-- ============================================================= -->

<!-- melcdl highest level structure -->
<!ELEMENT melcdl         (legalntc?, revdata?, mel, dmp, cdl)                  >

<!ATTLIST melcdl  
	  model          CDATA          #REQUIRED
          mantype       (MELCDL)        'MELCDL'
          oidate         NMTOKEN        #REQUIRED
          tsn            CDATA          #REQUIRED
          docnbr         CDATA          #IMPLIED
          lang           CDATA          #REQUIRED
          cus            CDATA          #REQUIRED
          spl            CDATA          #IMPLIED
	  chg          (N|R|U|D)        'N'
          key           ID              #REQUIRED
          revdate       NMTOKEN         #REQUIRED
          faadate       NMTOKEN         #IMPLIED
          mmelrevnbr    CDATA           #REQUIRED                    >



<!-- ========================================================== -->
<!--       Legal Notice Information                             -->
<!-- ========================================================== -->

<!ELEMENT legalntc  (chgdesc*, proptary?, cpyrght?, geninfo?)     >
<!ATTLIST legalntc
          key           ID             #REQUIRED                  >

<!ELEMENT proptary  (title?, para+)                               >
<!ELEMENT cpyrght   (year?, holder+)                              >
<!ELEMENT year      (#PCDATA)                                     >
<!ELEMENT holder    (#PCDATA)                                     >
<!ELEMENT geninfo   (title?,(%text;)+)           	          >


<!-- ========================================================== -->
<!--       Revision Data                                        -->
<!-- ========================================================== -->

<!ELEMENT revdata (coverpage?, recrev, transmittal)               >
<!ELEMENT coverpage  (para+)           	                  >  
<!ELEMENT recrev  (title?,(%text;)+)           	                  >
<!ATTLIST recrev   chg          (N|R|U|D)       'N'
                   revdate       NMTOKEN        #REQUIRED         >

<!ELEMENT transmittal  (title?,(%text;|graphic)+)           	  >

<!-- ============================================================= -->
<!--     MEL                                                       -->
<!-- ============================================================= -->
<!ELEMENT mel  (title, mfmatr, chapter*)                             >

<!ATTLIST mel
 	  %revatt;				                     >

<!-- ============================================================= -->
<!--     CDL                                                       -->
<!-- ============================================================= -->
<!ELEMENT cdl  (title, mfmatr?, chapter*)                            >

<!ATTLIST cdl
 	  %revatt;				                     >

<!-- ============================================================= -->
<!--     DMP                                                       -->
<!-- ============================================================= -->
<!ELEMENT dmp  (title, mfmatr?)                                      >

<!ATTLIST dmp
 	  %revatt;				                     >


<!-- ============================================================= -->
<!--                          MFMATR                               -->
<!-- ============================================================= -->

<!ELEMENT mfmatr (section+)               		             >

<!ATTLIST mfmatr       
	  %revatt;					             >

<!-- ============================================================= -->
<!--     CHAPTER                                                   -->
<!-- ============================================================= -->
<!ELEMENT chapter  (chgdesc*, title, ecam?, section+)	     >

<!ATTLIST chapter	
	  chapnbr     NMTOKEN      #REQUIRED
	  %revatt;				>

<!-- ============================================================= -->
<!--     ECAM WARNINGS                                             -->
<!-- ============================================================= -->
<!ELEMENT ecam		(chgdesc*, ecam_group+)                      >

<!ATTLIST ecam		
	  chapnbr     NMTOKEN      #REQUIRED
 	  %revatt;				                     >
          
<!ELEMENT ecam_group	(fltmsg_category, ecam_warning+)	     >

<!ELEMENT fltmsg_category  (#PCDATA) 				     >
	  
<!ELEMENT ecam_warning	(ecam_fltmsg, ecam_dispcond, ecam_remark)    >

<!ELEMENT ecam_fltmsg	(#PCDATA) 				     >
								
<!ELEMENT ecam_dispcond	(para+) 			             >
									
<!ELEMENT ecam_remark	(%text;)+ 			             >


<!-- ============================================================ -->
<!--     SECTION                                                  -->
<!-- ============================================================ -->
<!ELEMENT section    (chgdesc*,  title?, (item+ | textset+ 
                                            | (cdlblk, note*)+))       >
<!ATTLIST section	
	  chapnbr	NMTOKEN	  #REQUIRED
	  sectnbr	NMTOKEN	  #REQUIRED
	  %revatt;				>

<!-- ============================================================ -->
<!--     TEXTSET                                                  -->
<!-- ============================================================ -->

<!ELEMENT textset    (chgdesc*, title?, (%text;|graphic|textgrp|revision)+) >
<!ATTLIST textset
	  chapnbr    NMTOKEN       #REQUIRED
	  sectnbr    NMTOKEN       #REQUIRED
	  textsetnbr NMTOKEN       #REQUIRED
          %revatt;		             >

<!-- ========================================================== -->
<!--                    TEXTGRP                                 -->
<!-- ========================================================== -->

<!ELEMENT textgrp   (title?,(%text;|graphic|textgrp|revision)+)   >
<!ATTLIST textgrp
          tip       %yesorno;                         #IMPLIED   
          textgrpnbr NMTOKEN                          #IMPLIED    >

<!-- ========================================================== -->
<!--                     CDLBLK                                 -->
<!-- ========================================================== -->
<!ELEMENT cdlblk    (chgdesc*, title?, remarks, (%text;|act | graphic 
                              | textgrp | revision)*)   >
<!ATTLIST cdlblk
	  chapnbr    NMTOKEN       #REQUIRED
	  sectnbr    NMTOKEN       #REQUIRED
	  %revatt;
	  blknbr     NMTOKEN       #IMPLIED
	  qtyreq     CDATA         #IMPLIED
	  attr-rev   (YES|NO)      "NO"                           >
																  
<!-- ========================================================== -->
<!--                  GLOSSARY DATA                             -->
<!-- ========================================================== -->

<!ELEMENT glosdata  (term, def)                                   >
<!ELEMENT term      (#PCDATA|sub|super)*                          >
<!ELEMENT def       (#PCDATA|sub|super)*                          >


<!-- ============================================================ -->
<!--     ITEM                                                     -->
<!-- ============================================================ -->
<!ELEMENT item       (effect*, chgdesc*, title?, dispcond?, graphic*)	>

<!ATTLIST item	     
	  chapnbr    NMTOKEN       #REQUIRED
	  sectnbr    NMTOKEN       #REQUIRED
	  itemnbr    NMTOKEN       #IMPLIED
	  %revatt;					>

<!ELEMENT dispcond   (remarks?, operation?, limitation?, placard?, maintenance?)>
<!ATTLIST dispcond	
	  category         CDATA        #IMPLIED
	  nbrins           CDATA        #IMPLIED
	  nbrreq           CDATA        #IMPLIED
	  maintenance      (YES|NO)      "NO"
	  operation        (YES|NO)      "NO"
		downgrade        CDATA        #IMPLIED
	  attr-rev        (YES|NO)      "NO"           >

<!ELEMENT remarks      (%text;|revision)*				>

<!-- ==========================================================   -->
<!--     Placard, Maintenance and Operations                      -->
<!-- ==========================================================   -->
<!ELEMENT placard	(%text;|revision)* 					>

<!ELEMENT maintenance	(title?,(%text;|act|graphic|revision)*) 					>
<!ATTLIST maintenance
          key           ID             #REQUIRED	>

<!ELEMENT operation	(%text;|act|graphic|revision)*					>
<!ATTLIST operation
          key           ID             #REQUIRED	>

<!ELEMENT limitation	(%text;|act|graphic|revision)* 					>
<!ATTLIST limitation
          key           ID             #REQUIRED	>

<!-- ==========================================================   -->
<!--     Checklist Items                                          -->
<!-- ==========================================================   -->

<!ELEMENT act (challenge,response+,comment*) >
<!ATTLIST act
          responsible (F|CF|PM|C|PF|SO) #IMPLIED>

<!ELEMENT challenge (#PCDATA|sub|super|emphasis|revision)*  >

<!ELEMENT response (#PCDATA|sub|super|emphasis|revision)*  >

<!ELEMENT comment (#PCDATA|sub|super|emphasis|revision)*  >

<!-- ========================================================== -->
<!--     NUMBERED & UN-NUMBERED LIST                            -->
<!-- ========================================================== -->

<!ELEMENT unlist    (unlitem+)                                    >
<!ATTLIST unlist
          bulltype  (NONE|BULLET|NDASH|MDASH
                     |DIAMOND|ASTERISK|DELTA
                     |SQUARE|SYSTEM)                  'SYSTEM'    >

<!ELEMENT unlitem   (para|note|example|exception|graphic|unlist)+ >

<!ELEMENT numlist   (numlitem+)                                   >
<!ATTLIST numlist
          numtype   (NNP|AUP|NNB|ALB|NNS|RUP|RLP|RUR|RLR|NNR
                      |AUR|ALR)                       'NNP'       >

<!ELEMENT numlitem  (%text;|graphic)+                             >


<!-- ============================================================= -->
<!--                    PARAGRAPH-LEVEL ELEMENTS                   -->
<!-- ============================================================= -->


<!ELEMENT para      (#PCDATA  | grphcref | refext | refint
                         | sub | super | emphasis | revision)*       >

<!ELEMENT sub       (#PCDATA)                                     >
<!ELEMENT super     (#PCDATA)                                     >

<!ELEMENT emphasis (#PCDATA|emphasis)*                            >
<!ATTLIST emphasis
          role (bold|underline|italic)                 "italic"   >


<!-- ========================================================== -->
<!--         TITLE, WARNING, CAUTION and NOTE                   -->
<!-- ========================================================== -->
<!ELEMENT title     (#PCDATA|sub|super|revision)*		  >
<!ELEMENT warning   (para | unlist | numlist)+                    >
<!ELEMENT note      (para | unlist | numlist)+                    >
<!ELEMENT caution   (para | unlist | numlist)+                    >
<!ELEMENT exception (para | unlist | numlist)+                    >
<!ELEMENT example   (para | unlist | numlist)+                    >
  

<!-- ========================================================== -->
<!--     ONBOARD PERFORMANCE SYSTEM                             -->
<!-- ========================================================== -->
<!ELEMENT  ops		(ops_type, ops_message)>
<!ELEMENT  ops_type	(#PCDATA)	>
<!ELEMENT  ops_message	(#PCDATA)	>

<!-- ========================================================== -->
<!--                  EFFECTIVITY                               -->
<!-- ========================================================== -->

<!ELEMENT effect    EMPTY                           >
<!ATTLIST effect
          effrg     CDATA                             "001999"
          efftext   CDATA                             "ALL"
          chg       (N|R|U|D)                         'U'         >


<!-- ========================================================== -->
<!--              Referencing mechanism                         -->
<!-- ========================================================== -->
<!ELEMENT refext    (#PCDATA)                                     >
<!ATTLIST refext
          refman    CDATA                             #IMPLIED
          refspl    CDATA                             #IMPLIED
          refmodel  CDATA                             #IMPLIED
          docnbr    CDATA                             #IMPLIED
          refloc    CDATA                             #IMPLIED    >

<!ELEMENT refint    (#PCDATA)                                     >
<!ATTLIST refint
          reftype   CDATA                             #IMPLIED
          refid     IDREF                             #IMPLIED    >


<!-- ========================================================== -->
<!--              GRAPHIC REFERENCING MECHANISMS                -->
<!-- ========================================================== -->

<!ELEMENT grphcref  (#PCDATA | effect)*                           >
<!ATTLIST grphcref
          refid     IDREF                             #IMPLIED
          sheetnbr  CDATA                             #IMPLIED
          structid  CDATA                             #IMPLIED
          shownow   %yesorno;                         '0'         >

<!-- ========================================================== -->
<!--          GRAPHIC AND SHEET MECHANISM                       -->
<!-- chgdesc not necessary because mel group does not want      -->
<!-- graphic and sheet tags in the highlights of change         -->
<!-- Jeff Siebe 03/19/2009                                      -->
<!-- ========================================================== -->

<!ELEMENT graphic   (effect?, title?, (sheet | revision)*)        >
<!ATTLIST graphic
          chapnbr     NMTOKEN                        #IMPLIED
          sectnbr     NMTOKEN                        #IMPLIED
          confnbr     NMTOKEN                        #IMPLIED
          %revatt;                                                >

<!ELEMENT sheet     (effect?, title?)                             >
<!ATTLIST sheet
          gnbr      ENTITY                            #IMPLIED
          filename  CDATA                             #IMPLIED
          sheetnbr  CDATA                             #IMPLIED
          imgarea   (AP|BP|CP|DL|EL|FP|GP|HL|IL)      #IMPLIED
          width     CDATA                             #IMPLIED
          height    CDATA                             #IMPLIED
          %revatt;                                                >


<!-- ========================================================== -->
<!--             MISCELLANEOUS CONSTRUCTS                       -->
<!-- ========================================================== -->

<!ELEMENT revision (#PCDATA|para|graphic|sheet|emphasis|revision|sub|super)* >
<!ATTLIST revision
          chg     (insert|delete|modify)              "modify"    >

<!ELEMENT chgdesc   (#PCDATA|emphasis|sub|super)*                 >



<!-- ========================================================== -->
<!--             TABLE (CELLULAR, CALS BASED)                   -->
<!-- ========================================================== -->

<!ENTITY % bodyatt "">
<!ENTITY % secur "">

<!-- no if zero(s), yes if any other digits value               -->

<!ENTITY % yesorno 'CDATA'>
<!ENTITY % titles  'title?'>

<!-- default for use in entry content -->

<!ENTITY % paracon '#PCDATA'>

<!--
The parameter entities as defined below provide the CALS table model
as published (as part of the Example DTD) in MIL-HDBK-28001.

These following declarations provide the CALS-compliant default definitions
for these entities.  However, these entities can and should be redefined
(by giving the appropriate parameter entity declaration(s) prior to the
reference to this Table Model declaration set entity) to fit the needs
of the current application.
-->

<!ENTITY % tbl.table.name       "(table|chart)">
<!ENTITY % tbl.table-titles.mdl "%titles;,">
<!ENTITY % tbl.table-main.mdl   "(tgroup+|graphic+)">
<!ENTITY % tbl.table.mdl        "%tbl.table-titles.mdl; %tbl.table-main.mdl;">
<!ENTITY % tbl.table.att        '
    tabstyle    CDATA           #IMPLIED
    tocentry    %yesorno;       #IMPLIED
    shortentry  %yesorno;       #IMPLIED
    orient      (port|land)     #IMPLIED
    pgwide      %yesorno;       #IMPLIED '>
<!ENTITY % tbl.tgroup.mdl       "colspec*,spanspec*,thead?,tfoot?,tbody">
<!ENTITY % tbl.tgroup.att       '
    tgroupstyle CDATA           #IMPLIED '>
<!ENTITY % tbl.hdft.mdl         "colspec*,row+">
<!ENTITY % tbl.row.mdl          "(entry|entrytbl)+">
<!ENTITY % tbl.entrytbl.mdl     "colspec*,spanspec*,thead?,tbody">
<!ENTITY % tbl.entry.mdl        "(%text;)*">
<!-- =====  Element and attribute declarations follow. =====  -->

<!ELEMENT table (%tbl.table.mdl;)>
<!ATTLIST table
        frame           (top|bottom|topbot|all|sides|none)      #IMPLIED
        colsep          %yesorno;                               #IMPLIED
        rowsep          %yesorno;                               #IMPLIED
        %tbl.table.att;
        %bodyatt;
        %secur;
>

<!ELEMENT tgroup (%tbl.tgroup.mdl;) >

<!ATTLIST tgroup
        cols            CDATA                                   #REQUIRED
        %tbl.tgroup.att;
        colsep          %yesorno;                               #IMPLIED
        rowsep          %yesorno;                               #IMPLIED
        align           (left|right|center|justify|char)        #IMPLIED
        char            CDATA                                   #IMPLIED
        charoff         CDATA                                   #IMPLIED
        %secur;
>

<!ELEMENT colspec EMPTY >

<!ATTLIST colspec
        colnum          CDATA                                   #IMPLIED
        colname         CDATA                                   #IMPLIED
        colwidth        CDATA                                   #IMPLIED
        colsep          %yesorno;                               #IMPLIED
        rowsep          %yesorno;                               #IMPLIED
        align           (left|right|center|justify|char)        #IMPLIED
        char            CDATA                                   #IMPLIED
        charoff         CDATA                                   #IMPLIED
>

<!ELEMENT spanspec EMPTY >

<!ATTLIST spanspec
        namest          CDATA                                   #REQUIRED
        nameend         CDATA                                   #REQUIRED
        spanname        CDATA                                   #REQUIRED
        colsep          %yesorno;                               #IMPLIED
        rowsep          %yesorno;                               #IMPLIED
        align           (left|right|center|justify|char)        #IMPLIED
        char            CDATA                                   #IMPLIED
        charoff         CDATA                                   #IMPLIED
>

<!ELEMENT thead (%tbl.hdft.mdl;)>
<!ATTLIST thead
        valign          (top|middle|bottom)                     #IMPLIED
        %secur;
>

<!ELEMENT tfoot (%tbl.hdft.mdl;)>
<!ATTLIST tfoot
        valign          (top|middle|bottom)                     #IMPLIED
        %secur;
>

<!ELEMENT tbody (row+)>

<!ATTLIST tbody
        valign          (top|middle|bottom)                     #IMPLIED
        %secur;
>

<!ELEMENT row (%tbl.row.mdl;)>

<!ATTLIST row
        rowsep          %yesorno;                               #IMPLIED
        valign          (top|middle|bottom)                     #IMPLIED
        %secur;
>

<!ELEMENT entrytbl (%tbl.entrytbl.mdl;)>

<!ATTLIST entrytbl
        cols            CDATA                                   #REQUIRED
        %tbl.tgroup.att;
        colname         CDATA                                   #IMPLIED
        spanname        CDATA                                   #IMPLIED
        namest          CDATA                                   #IMPLIED
        nameend         CDATA                                   #IMPLIED
        colsep          %yesorno;                               #IMPLIED
        rowsep          %yesorno;                               #IMPLIED
        align           (left|right|center|justify|char)        #IMPLIED
        char            CDATA                                   #IMPLIED
        charoff         CDATA                                   #IMPLIED
        %secur;
>

<!ELEMENT entry (%tbl.entry.mdl;)*>

<!ATTLIST entry
        colname         CDATA                                   #IMPLIED
        namest          CDATA                                   #IMPLIED
        nameend         CDATA                                   #IMPLIED
        spanname        CDATA                                   #IMPLIED
        morerows        CDATA                                   #IMPLIED
        colsep          %yesorno;                               #IMPLIED
        rowsep          %yesorno;                               #IMPLIED
        align           (left|right|center|justify|char)        #IMPLIED
        char            CDATA                                   #IMPLIED
        charoff         CDATA                                   #IMPLIED
        rotate          %yesorno;                               #IMPLIED
        valign          (top|middle|bottom)                     #IMPLIED
        %secur;
>